@use '../../variables/colors' as c
@use '../../variables/responsive' as r

.global-container
  display: flex
  justify-content: center
  align-items: center
  width: 100vw
  height: 100vh

.dialog-container
  background-color: c.$white-color
  padding: 20px
  border-radius: 10px
  width: 700px
  height: 500px
  display: flex
  flex-direction: row

.navigation-panel-container
  flex: 0 0 250px
  position: relative
  background-image: url('/assets/images/bg-sidebar-desktop.svg')
  background-size: 100%
  overflow: hidden
  background-repeat: no-repeat

.right-side-panel-container
  display: flex
  flex-direction: column
  padding-right: 50px
  padding-left: 50px
  flex-grow: 1

.page-container
  flex-grow: 1

/*Responsive rules*/

@media (max-width: r.$phone-breakpoint)
  .global-container
    display: block

  .dialog-container
    display: block
    width: 100vw
    padding-top: 0
    padding-left: 0
    padding-right: 0
    background-color: c.$verylight-blue-color

  .navigation-panel-container
    height: 150px
    background-position: 50% 80%

  .page-container
    position: relative
    top: -80px
    background-color: c.$white-color
    padding-right: 20px
    padding-left: 20px
    padding-top: 20px
    padding-bottom: 20px
    border-radius: 10px

  .right-side-panel-container
    display: block
    padding-right: 10px !important
    padding-left: 10px !important

  .navigation-buttons-container
    position: fixed
    padding: 20px
    bottom: 0
    left: 0
    right: 0
    top: auto
    background-color: c.$white-color
