<h1>Finishing up</h1>
<p>Double-check everything looks OK before confirming</p>

<div class="services-panel">
  <div class="item">
    <div class="left-items-container">
      <span class="stand-up"
        >{{ SelectedPlan?.name }} ({{
          subscriptionInfo.isYearly ? "Yearly" : "Monthly"
        }})</span
      >
      <span class="navigate-link" (click)="navigateToPlanPage()">Change</span>
    </div>
    <span class="stand-up"
      >${{
        subscriptionInfo.isYearly
          ? SelectedPlan?.pricePerYear
          : SelectedPlan?.pricePerMonth
      }}/{{ subscriptionInfo.isYearly ? "yr" : "mo" }}</span
    >
  </div>
  <div *ngFor="let add of SelectedAdds" class="item add-item">
    <span class="add-name">{{ add.nameText }}</span>
    <span class="add-price"
      >+${{
        subscriptionInfo.isYearly ? add.pricePerYear : add.pricePerMonth
      }}/{{ subscriptionInfo.isYearly ? "yr" : "mo" }}</span
    >
  </div>
  <div class="item">
    <span class="total-label">
      Total (per {{ subscriptionInfo.isYearly ? "year" : "month" }})
    </span>
    <span class="total-price"
      >${{ totalValue }}/{{ subscriptionInfo.isYearly ? "yr" : "mo" }}</span
    >
  </div>
</div>
