<h1>Finishing up</h1>
<p>Double-check everything looks OK before confirming</p>

<div class="services-panel">
  <div class="item">
    <div class="left-items-container">
      <span class="stand-up"
        >Arcade({{ subscriptionInfo.plan.isYearly ? "Year" : "Month" }})</span
      >
      <a class="navigate-link">Change</a>
    </div>
    <span class="stand-up"
      >${{
        subscriptionInfo.plan.isYearly
          ? subscriptionInfo.plan.pricePerYear
          : subscriptionInfo.plan.pricePerMonth
      }}/{{ subscriptionInfo.plan.isYearly ? "yr" : "mo" }}</span
    >
  </div>
  <div *ngFor="let add of subscriptionInfo.Adds" class="item add-item">
    <span class="add-name">{{ add.name }}</span>
    <span class="add-price"
      >+${{
        subscriptionInfo.plan.isYearly ? add.pricePerYear : add.pricePerMonth
      }}/{{ subscriptionInfo.plan.isYearly ? "yr" : "mo" }}</span
    >
  </div>
  <div class="item">
    <span class="total-label">
      Total (per {{ subscriptionInfo.plan.isYearly ? "year" : "month" }})
    </span>
    <span class="total-price"
      >${{ totalValue }}/{{
        subscriptionInfo.plan.isYearly ? "yr" : "mo"
      }}</span
    >
  </div>
</div>
