<h1>Select your plan</h1>
<p>You have the option of monthly or yearly billing</p>
<div class="selection-panel">
  <div
    class="selection-item"
    [class.selected]="selectedPlan.name === item.name"
    (click)="setSelectedPlan(item)"
    *ngFor="let item of options"
  >
    <div class="icon-container">
      <img [attr.src]="item.iconAddress" />
    </div>
    <span class="option-name">{{ item.name }}</span>
    <span class="option-price"
      >${{
        selectedPlan.isYearly ? item.pricePerYear : item.pricePerMonth
      }}/mo</span
    >
    <span class="month-quantity" [class.collapse]="!selectedPlan.isYearly"
      >{{ item.freeMonthQuantity }} months free</span
    >
  </div>
</div>

<div class="switch-button-panel">
  <span class="switch-option" [class.selected]="!selectedPlan.isYearly"
    >Monthly</span
  >
  <button (click)="selectedPlan.isYearly = !selectedPlan.isYearly">
    placeholder
  </button>
  <span class="switch-option" [class.selected]="selectedPlan.isYearly"
    >Yearly</span
  >
</div>
