<h1>Select your plan</h1>
<p>You have the option of monthly or yearly billing</p>
<div class="selection-panel">
  <div
    class="selection-item"
    [class.selected]="plan.selected"
    (click)="setSelectedPlan(i)"
    *ngFor="let plan of subscriptionInfo.plans; let i = index"
  >
    <div class="icon-container">
      <img [attr.src]="plan.iconAddress" />
    </div>
    <div class="description-container">
      <span class="option-name">{{ plan.name }}</span>
      <span class="option-price"
        >${{
          subscriptionInfo.isYearly ? plan.pricePerYear : plan.pricePerMonth
        }}/mo</span
      >
      <span class="month-quantity" [class.collapse]="!subscriptionInfo.isYearly"
        >{{ plan.freeMonthQuantity }} months free</span
      >
    </div>
  </div>
</div>

<div class="switch-button-panel">
  <span class="switch-option" [class.selected]="!subscriptionInfo.isYearly"
    >Monthly</span
  >
  <app-switch-button
    type="rounded"
    [(value)]="subscriptionInfo.isYearly"
  ></app-switch-button>

  <span class="switch-option" [class.selected]="subscriptionInfo.isYearly"
    >Yearly</span
  >
</div>
