@use './variables/colors' as c
@use './variables/fonts' as f

body
  background-color: c.$light-blue-color
  overflow: hidden


@font-face
  font-family: myFont
  src: url('assets/fonts/Ubuntu-Regular.ttf')

:root
  font-family: myFont
  font-size: f.$regular-font
  color: c.$dark-blue-color

p
  color: c.$gray-color
