@use './variables/_colors' as c

body
  background-color: c.$light-blue-color
  overflow: hidden


@font-face
  font-family: myFont
  src: url('assets/fonts/Ubuntu-Regular.ttf')

:root
  font-family: myFont

