@use '../../../variables/_colors' as c
@use '../../../variables/_fonts' as f
@use '../../../variables/responsive' as r
.global-container
  border-radius: 10px

.navigation-panel-item
  margin: 20px
  display: flex
  color: c.$white-color
  .step-number
    display: block
    color: c.$gray-color
    font-size: f.$small-font

  .page-name
    display: block
    font-size: f.$regular-font
    font-weight: bold

  .number-indicator
    border: solid 1px c.$white-color
    border-radius: 50%
    width: 30px
    height: 30px
    display: flex
    align-items: center
    justify-content: center
    margin-right: 10px

  .selected
    background-color: c.$light-blue-color !important
    color: c.$verydark-blue-color !important
    font-weight: bold

/*Responsive rules*/
@media (max-width: r.$phone-breakpoint)
  .global-container
    padding: 10px
    display: flex
    justify-content: center
  .description-container
    display: none
  .navigation-panel-item
    margin: 5px
