<h1>Pick add-ons</h1>
<p>Add-ons help enhance your gaming experience</p>

<div class="selection-panel">
  <div
    (click)="test($event)"
    class="selection-item"
    [class.selected]="add.selected"
    (click)="add.selected = !add.selected"
    *ngFor="let add of subscriptionInfo.adds"
  >
    <div class="checkbox-container">
      <input
        class="checkbox"
        [ngModel]="add.selected"
        type="checkbox"
        [attr.name]="add.name"
      />
      <!--layer that overlaps the checkbox element to avoid click behavior-->
      <div class="overlayer"></div>
    </div>
    <div class="description">
      <label [attr.name]="add.name">{{ add.nameText }}</label>
      <p>{{ add.description }}</p>
    </div>
    <span class="add-price"
      >+${{
        subscriptionInfo.isYearly ? add.pricePerYear : add.pricePerMonth
      }}/{{ subscriptionInfo.isYearly ? "yr" : "mo" }}</span
    >
  </div>
</div>
